<ion-view view-title="Carrito de compras">
  <ion-content>
  	
  		<div class="list list-inset">
  			<div class="item item-button-right">
  				<h2>Producto 1</h2>
			    <p>2*$10.90 [$21.80]</p>
			    <button class="button button-positive">
			      <i class="icon ion-trash-a"></i>
			    </button>
			</div>
			<div class="item item-button-right">
  				<h2>Producto 2</h2>
			    <p>2*$5.00 [$10.00]</p>
			    <button class="button button-positive">
			      <i class="icon ion-trash-a"></i>
			    </button>
			</div>
  		
	  	</div>
	  	
	  	<div class="padding">
		<button class="button button icon-left ion-cash button-large button-block button-balanced" ng-click="">Facturar pedido</button>
		</div>
    
  </ion-content>
</ion-view>
